@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-mono;
  @apply bg-gradient-to-r from-cyan-500 to-blue-500;
}

.center {
  @apply flex justify-center;
}

.boundingBox {
  position: absolute;
  border: 0.2rem solid #149df2;
  cursor: pointer;
}
